<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Web</title>
    <link rel="stylesheet" href="/static/style.css">
    link(rel="stylesheet", href="/static/contact.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
    <nav id="navbar">
        <div id="logo"><img src="/static/logo0.png" alt="">
            <p>RDA</p>
        </div>
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Services</a></li>
        <li><a href="/">Class Info</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </nav>
    <h1>Contact Us</h1>
    <div id="container">
        <form action="/contact" , method="post" , class="myform">
            <input type="text" class=“myInput” name="name" placeholder="Enter your name..">
            <input type="phone" class=“myInput” name="phone" placeholder="Enter your phone..">
            <input type="email" class=“myInput” name="email" placeholder="Enter your email..">
            <input type="text" class=“myInput” name="hobbie" placeholder="Your hobbie..">
            <button class="btn">
                | Submit
            </button>
        </form>
    </div>

    <footer id="footer">
        |Copyright &copy; www.ritik'sDanceAcadamy.com. All rights reserved!
    </footer>

    <script src="/static/index.js"></script>
</body>

</html>