<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Web</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
    <nav id="navbar">
        <div id="logo"><img src="/static/logo0.png" alt="">
            <p>RDA</p>
        </div>
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Services</a></li>
        <li><a href="/">Class Info</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </nav>
    <section id="introSection">
        <div>
            |Welcome to Ritik's Dance Academy
        </div>
        <div class="small">
            |Eat Sleep Dance Repeat
        </div>
    </section>
    <section id="missionSection">
        <div>
            <h2>Our Mission</h2>
        </div>
        <div class="card">
            <div class="card-box">
                <h3>Dance Perfection</h3>
                <div class="b1"><img src="/static/1.png" alt="">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, beatae.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, aspernatur?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, beatae.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, aspernatur?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, beatae.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, aspernatur?
                    </p>
                </div>
            </div>
            <div class="card-box">
                <h3>Dance the way you like</h3>
                <div class="b1"><img src="/static/2.png" alt="">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, beatae.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, beatae.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, aspernatur?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, beatae.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, aspernatur?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, beatae.


                    </p>
                </div>
            </div>
            <div class="card-box">
                <h3>Expert Teaching</h3>
                <div class="b1"><img src="/static/3.png" alt="">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, beatae.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, beatae.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, aspernatur?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, beatae.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, aspernatur?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, beatae.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, aspernatur?
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="sponsorsSection">
        | <h2>Our Sponsors</h2>
        <div id="sponsers">
            <img src="/static/logo1.png" alt="" , class="spImage">
            <img src="/static/logo2.png" alt="" , class="spImage">
            <img src="/static/logo3.png" alt="" , class="spImage">
            <img src="/static/logo4.png" alt="" , class="spImage">
        </div>
    </section>
    <footer id="footer">
        |Copyright &copy; www.ritik'sDanceAcadamy.com. All rights reserved!
    </footer>

    <script src="/static/index.js"></script>
</body>

</html>